.main{
    margin-left: 0px !important;
    margin-right: 0px !important;
    text-align: center;
}
.absolute{
    position: absolute;
    right: 113px;
    top: 121px;
}
.relative{
    position: relative;
}