.headerInfo {
    margin-bottom: 40px;
    justify-content: space-between !important;
}
.link:hover {
    text-decoration: none !important;
    color: white;
}
.title{
    font-size: 30px;
    margin-left: 8% !important;
}
.link{
    margin-right: 8% !important;
}