.headerInfo {
    margin-bottom: 40px;
    justify-content: space-between !important;
}
.link:hover {
    text-decoration: none !important;
    color: white;
}
.title{
    font-size: 30px;
    text-decoration-line: overline;
}
.home{
    text-decoration-line: overline;
}