.btn {
	display: none !important;
	position: absolute;
	top: 1px;
	left: 16px;
	width: 50px;
	height: 75px !important;
	opacity: 0.8;
}

.card{
	display: flex;
	border: 1px solid #797979;
	margin-bottom: 10px
}
.card:hover button{
	display: block !important;
}
.name{
	margin-left: 25px;
	padding-top: 27px;
}