.displayComics{
    display: block;
    margin-bottom: 20px;
}
.hideComics{
    display: none;
}
.comic{
    position: absolute;
    top: 103px;
    background-color: black;
    opacity: 0.7;
    color: white;
    text-align: center;
    height: 37px;
    padding-top: 2px;
    width: 140px;
}