.name{
    margin-bottom: 5px;
}
.subName{
    margin-bottom: 20px;
}
.name:first-child{
    margin-top: 30px;
}
.img{
    margin-top: 30px;
}
@media only screen and (max-width: 576px) {
    .content {
      justify-content: center !important;
    }
  }

